.modern-table th:first-child {
    width: 3%; !important;
}
.modern-table th:nth-child(2) {
    width: 34%; !important;
}

.modern-table th:nth-child(3) {
    width: 18%; !important;
}

.modern-table th:nth-child(4) {
    width: 8%; !important;
}

.modern-table th:nth-child(5) {
    width: 12%; !important;
}

.modern-table th:nth-child(6) {
    width: 10%; !important;
}