/* Container */

.fix-padding-1 {
    padding-right: 0 !important;
}

.fix-padding-2 {
    padding-left: 0 !important;
}

.img {
    width: 130px;
    height: 130px;
    object-fit: cover;
}

.form__input {
    width: 100%;
    margin: 5px 0 25px;

}

.form__span {
    margin: 60px 0 10px;
}

.form__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: solid 1px var(--light-grey);
}

.support {
    width: 50%;
    display: flex;
    justify-content: center;
}

.box-btn {
    background-color: var(--bright-green);
    color: var(--dark-blue);
    padding: 10px 0;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__turn-back {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 82px;
}

.turn-back {
    color: var(--blue);
    font-weight: var(--fw-semibold);
}

.turn-back:hover {
    text-decoration: underline;
}