/* Container */

.fix-padding-1 {
    padding-right: 0 !important;
}

.fix-padding-2 {
    padding-left: 0 !important;
}

.fix-padding-1 {
    padding-right: 0 !important;
}

.fix-padding-2 {
    padding-left: 0 !important;
}

.img {
    width: 170px;
    height: 130px;
    object-fit: inherit;
}

.form__span {
    margin: 2rem 0 4rem;
}

.form__input {
    width: 100%;
    margin-bottom: 25px;
}

.form__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0 35px;
    padding-bottom: 30px;
}

.support {
    width: 50%;
}

.box-btn {
    background-color: var(--bright-green);
    color: var(--dark-blue);
    padding: 10px 40px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.span__text {
    color: rgb(128, 128, 128);
}

.add-to-fix{
    color: red;
    font-size: var(--text-xl);
}

#error_oldPass{
    color: red;font-size: 1.5rem;padding-left: 1.6rem;
}
#error_reNewPass{
    color: red;font-size: 1.5rem;padding-left: 1.6rem;
}