
/* Lớp nền mờ (ẩn ban đầu) */
.modal__course-detail {
    display: none;
    /* Cố định không di chuyển theo scroll, tức là tạo ra 1 màn lớn nằm trên màn hiện tại*/
    position: fixed;
    /*Gíup modal bao phủ toàn trang*/
    /*Nếu không có thì nó sẽ mặc định ở dưới cái nút bấm*/
    top: 0;
    left: 0;
    /*Chiếm toàn bộ màn hình tính từ cái bg*/
    width: 100%;
    height: 100%;
    /*Màu nền khi hiển thị hộp thoại*/
    background: rgba(0, 0, 0, 0.5);
    /*Đè lên trên các nội dung của trang đó để k bị vướng thao tác*/
    z-index: 99;

    /*Canh theo chiều dọc cuar flex-box*/
    align-items: center;
    /*Canh theo chiều ngang của flex-box*/
    justify-content: center;
}

/* Nội dung của modal */
.modal__course-content {
    background: white;
    /*padding: 20px;*/
    border-radius: 0.7rem;
    min-width: 70rem;
    min-height: 50rem;
    text-align: center;
    color: #333;
}
.course__header {
    background: var(--dark-blue);
    color: var(--white-color);
    width: 100%;

    padding: 1rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: space-between;
}
.course__title {
    font-size: var(--text-2xl);
    line-height: 3rem;
    font-weight: var(--fw-semibold);
}
.x__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-x {
    /*font-weight: var(--fw-medium);*/
    font-size: var(--text-2xl);
}

.course-body {
    padding: 2rem;
}

/* PHẦN QUAN TRỌNG NHẤT */
/* Khi modal này là :target (tức là URL là #my-modal) nó sẽ hiện ra */
.modal__course-detail:target {
    display: flex; /* Hiện ra */
}

.course-row__font-content.course-row__status{
    color: #018d4a;
}

.modern-table th:nth-child(2)  {
    width: 20% !important;
}
.modern-table th:nth-child(3) {
    width: 17% !important;
}
.modern-table th:nth-child(4) {
    width: 14% !important;
}
.modern-table th:first-child {
    width: 3% !important;
}
