:root{
    --dark-blue: #002333;
    --bright-green: #01FF85;
    --light-grey: #DCDEE1;
    --text-color: #000000;
    --white-color: #FFFFFF;
    --hover-color: lightgrey;
}

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

/*loại này là để cho khoảng cách giữa các cột là 10px*/
.grid__row-1{
    display: flex;
    flex-wrap: wrap;
    /* thông thường khoảng cách giữa 2 cột trên pc là 24px nên mỗi đối tượng cách 12px + lại là vừa */
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
/* 12/5=2.4 */
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%; /* 100% / 5 = 20% */
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

/*loại này là để cho khoảng cách giữa các cột là 16px*/
.grid__row-2{
    display: flex;
    flex-wrap: wrap;
}

/* 12/3 = 4*/
.grid__column-3{
    padding-right: 8px;
    padding-left: 8px;
    width: 25%;  /* 1 đối tượng trong 1200px 100% chia 4*/
}
.grid__column-4{
    padding-right: 8px;
    padding-left: 8px;
    width: 33.333%;  /* 1 đối tượng trong chiều dài của colum 9 100% chia 3 */
}
.grid__colum-9{
    padding-right: 8px;
    padding-left: 8px;
    width: 75%;
}
.grid__column-8{
    width: 66.667%;
    padding-right: 8px;
    padding-left: 8px;
}
.grid__column-4-in-12{
    width: 33.333%;
    padding-right: 8px;
    padding-left: 8px;
}


/*Cac co chu*/
.text-header{
    font-size: 1.6rem;
    font-weight: 600;
}
.text-big-title{
    font-size: 3.6rem;
    font-weight: 700;
}
.text-small-title{
    font-size: 3rem;
    font-weight: 600;
}
.text-li{
    font-size: 1.4rem;
}
.text-big{
    font-size: 1.6rem;
}
.text-medium{
    font-size: 1.4rem;
}
.text-mini{
    font-size: 1.2rem;
}
.text-paragraph p {
    font-size: 1.6rem;
    font-weight: 700;
}

/*Header*/
.web__header{
    background-color: var(--dark-blue);
}

.header__box{
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.header__logo {
    font-weight: 800;
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* tạo 2 dòng chữ */
.header__logo::before {
    content: "SOFT";
    display: block;
}

.header__browse{
    display: flex;
    align-items: center;
    margin-left: 35px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}
.header__browse::after {
    content: "";
    position: absolute;
    top: 100%; /* ngay dưới Browse */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}
.header__browse:hover{
    color: var(--bright-green)
}

.browse__text{
    font-weight: 600;
    margin-right: 5px;
}
.browse__icon{
    font-weight: 300;
}
.header__browse:hover .browse__display{
    display: block;
}
.browse__display{
    display: none;
}
.browse__container{
    display: flex;
    background-color: var(--white-color);
    border-radius: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 28px;
    z-index: 10;
}
.browse__container-box-1::after{
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: -100px;
    width: 1px;
    background: #e0e0e0;
    pointer-events: none;
    z-index: 3;
}
.title{
    color: #394649;
    font-size: 1.5rem;
    font-weight: 700;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.text-list-item{
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 600;
}
.browse__box-category-list-item{
    width: 140%;
    padding: 10px 10px;

}
.browse__box-category-list-item:hover{
    background-color: var(--hover-color);
    border-radius: 5px;
}
.browse__container-box-1{
    margin: 15px 100px 35px 30px;
    position: relative;
}
.browse__container-box-2{
    margin: 15px 0 35px 30px;
}
.browse__box-category{
    width: 200px;
}
.box__title{
    margin: 15px 0;
    width: 190px;
}
.box-2{
}
.item-box{
    width: 80%;
    border: solid 1px var(--dark-blue);
    border-radius: 5px;
    margin: 5px 0 15px 0;
    height: 30px;
    display: flex;
    align-items: center;
}
.text-list-item-2{
    padding: 10px;
}
.item-box:hover{
    background-color: var(--hover-color);
}

.header__community{
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    margin: 0 35px;
}
.header__community:hover{
    color: var(--bright-green)
}

.header__search{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px var(--white-color);
    color: var(--white-color);
    width: 34%;
    margin-right: 5px;
}
.search__icon{
    font-size: 2.4rem;

    padding-left: 10px;
}
.search__input{
    flex: 1;
    display: flex;
}
.input__text{
    flex: 1;
    background-color: var(--dark-blue);
    color: var(--white-color);
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
}
.input__text::placeholder {
    color: var(--white-color);
    text-decoration: none;
}
.input__text:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.input__text:focus::placeholder {
    color: transparent;
}

.header__class{
    color: var(--white-color);
    margin-left: auto;
}
.header__class:hover{
    color: var(--bright-green);
}

.header__cart{
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;
    margin-left: 25px;
    position: relative;
}
.header__cart:hover .cart__display{
    color: var(--bright-green);
    display: block;
}
.cart__display{
    display: none;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 26px);
    right: 1px;
    background-color: var(--white-color);
    width: 300px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.header__cart::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 35px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list-no-cart-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header__notification{
    color: var(--white-color);
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.header__notification:hover{
    color: var(--bright-green);
}
.notification__icon{
    cursor: pointer;
}

.header__user{
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.header__user::after {
    content: "";
    position: absolute;
    top: 100%; /* ngay dưới Browse */
    left: 50%;
    transform: translateX(-50%);
    width: 30px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}
.user__avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid var(--bright-green);
}
img{
    object-fit: cover;
}
.header__user:hover .user__display{
    display: block;
}
.user__display{
    display: none;
}
.user__container{
    background-color: var(--white-color);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:100%;
    margin-top: 20px;
    right: 0;
    cursor: default;
    z-index: 10;
}

.user__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px var(--hover-color);
}
.user__profile-avatar{
    margin-top: 20px;
}
.user__avatar-mini{
    object-fit: contain;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 1px var(--bright-green);
    cursor: pointer;
}
.user__profile-name{
    margin: 10px 0 0 0;
}
.name-text{
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
}
.bio-text{
    font-size: 1rem;
    text-decoration: none;
    color: var(--light-grey);
    cursor: pointer;
}
.user__profile-btn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 15px 30px;
}
.user__menu{

}
.user__menu-list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.user__menu-list-item{
    width: 80%;
}
.user__menu-list-item-box{
    width: 100%;
    /*font-size: 1.4rem;*/
    /*font-weight: 700;*/
    color: var(--dark-blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
}
.user__menu-list-item-box:hover{
    background-color: var(--hover-color);
}
.sign-out{
    border-top: solid 1px var(--hover-color);
    color: red;
}

.header__button{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.button__btn{
    border: none;
    color: var(--dark-blue);
    width: 100%;
    height: 100%;
    background-color: var(--bright-green);
    /*font-size: 1.6rem;*/
    /*font-weight: 700;*/
    border-radius: 5px;
    cursor: pointer;
}

/* Footer */
.web__footer{
    padding-top: 16px;
    background-color: var(--dark-blue);
}

.footer__heading{
    /*font-size: 1.6rem;*/
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-list{
    padding-left: 0;
    list-style: none;
}

.footer-item__link{
    text-decoration: none;
    color: var(--white-color);
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--bright-green);
}

.footer__download{
    display: flex;
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img{

}

/* cái này tránh các trình duyệt cũ sẽ hiện ra nên sửa luôn  */
.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}

.footer__bottom{
    background-color: var(--dark-blue);
    padding: 8px 0;
    margin-top: 36px;
}

.footer__bottom .grid:first-child{
    border-top: 2px solid var(--bright-green);
}

.footer__text{
    text-align: center;
    color: var(--white-color);
    margin-left: 20px;
    cursor: pointer;
}
.footer__text:hover{
    color: var(--bright-green);
}
.ul__text{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    margin-left: 20px;
}


