/*
Mục 1: color
Mục 2: grid system
Mục 3: font:size-weight
Mục 4: button
Mục 5: input
Mục 6: header-footer

*/
:root{
    /*Main color*/
    --dark-blue: #002333;
    --bright-green: #01FF85;
    --blue : #3722D3;
    --bright-blue: #264457;
    --light-grey: #a4a4a4;
    --text-color: #000000;
    --white-color: #FFFFFF;
    --hover-color: lightgrey;
    --yellow-color: #FFD43B;

    /*Màu cho Công khai*/
    /*Nền*/
    --light-green: #e8f5e9;
    /*Text*/
    --green: #2e7d32;

    /*Màu cho Riêng tư*/
    /*Nền*/
    --privacy-light-grey: #ECEFF1;
    /*Text*/
    --privacy-dark-charcoal: #263238;

    /* --- Pending (Màu vàng cam/Amber) --- */
    --pending-bg: #fff7ed;      /* Cam rất nhạt */
    --pending-text: #c2410c;    /* Cam đậm */

    /* --- Failed (Màu đỏ/Red) --- */
    --failed-bg: #fef2f2;       /* Đỏ rất nhạt */
    --failed-text: #b91c1c;     /* Đỏ đậm */

    /*Màu cho cấp độ*/
    --blue-level : #0066cc;

    /*Font Size*/
    --text-xs: 1.0rem;
    --text-sm: 1.2rem;
    --text-base: 1.4rem;
    --text-lg: 1.6rem;
    --text-xl: 1.8rem;
    --text-2xl: 2.0rem;
    --text-3xl: 2.4rem;
    --text-4xl: 3.0rem;
    --text-5xl: 3.6rem;

    /*Font Weight*/
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

html{
    box-sizing: border-box;
}

*{
    box-sizing: inherit;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}
body {
    background: #F4F4F4;
}

/*Grid System*/
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid-2{
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

/*loại này là để cho khoảng cách giữa các cột là 10px*/
.grid__row-1{
    display: flex;
    flex-wrap: wrap;
    /* thông thường khoảng cách giữa 2 cột trên pc là 24px nên mỗi đối tượng cách 12px + lại là vừa */
}
.grid__column-10{
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}
/* 12/5=2.4 */
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%; /* 100% / 5 = 20% */
}

.grid__column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

/*loại này là để cho khoảng cách giữa các cột là 16px*/
.grid__row-2{
    display: flex;
    flex-wrap: wrap;
}

/* 12/3 = 4*/
.grid__column-2{
    padding-right: 8px;
    padding-left: 8px;
    width: 16.667%;
}
.grid__column-10{
    padding-right: 8px;
    padding-left: 8px;
    width: 83.333%;
}
.grid__column-3{
    padding-right: 8px;
    padding-left: 8px;
    width: 25%;  /* 1 đối tượng trong 1200px 100% chia 4*/
}
.grid__colum-9{
    padding-right: 8px;
    padding-left: 8px;
    width: 75%;
}
.grid__column-4{
    padding-right: 8px;
    padding-left: 8px;
    width: 33.333%;  /* 1 đối tượng trong chiều dài của colum 9 100% chia 3 */
}
.grid__column-5{
    width: 41.667%;
    padding-right: 8px;
    padding-left: 8px;
}
.grid__column-7{
    width: 58.333%;
    padding-right: 8px;
    padding-left: 8px;
}
.grid__column-8{
    width: 66.667%;
    padding-right: 8px;
    padding-left: 8px;
}
.grid__column-4-in-12{
    width: 33.333%;
    padding-right: 8px;
    padding-left: 8px
}

/*Cac bieens thể của Roboto dựa trên Font weight*/
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/static/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/static/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/static/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
.text-header{
    font-size: var(--text-lg);
    font-weight: var(--fw-semibold);
}
.text-big-title{
    font-size: var(--text-5xl);
    font-weight: var(--fw-bold);
}
.text-small-title{
    font-size: var(--text-4xl);
    font-weight: var(--fw-semibold);
}
.text-li{
    font-size: var(--text-lg);
}
.text-big{
    font-size: var(--text-lg);
}
.text-medium{
    font-size: var(--text-base);
}
.text-mini{
    font-size: var(--text-sm);
}
.text-paragraph p {
    font-size: var(--text-xl);
    font-weight: var(--fw-bold);
    line-height: 2rem;

    /* overflow nghĩa là khi thg con chòi ra khỏi thì sẽ xử lý như nào hidden là ẩn đi */
    /* cách 1 */
    /* lưu ý: chỉ có những web đc hỗ trợ mới làm đc cách này */
    overflow: hidden;
    /* display: block để khi nào ko đc hỗ trợ thì hiện như bthuong */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/*chuyen giua cac trang*/
.turn-page{
    text-decoration: none;
    color: inherit;
    display: block;
}

/*Các loại button*/
.dark-button {
    border: none;
    color: var(--white-color);
    /*width: 100%;*/
    height: 100%;
    background: var(--dark-blue);
    font-size: var(--text-lg);
    font-weight: var(--fw-semibold);
    border-radius: 5px;
    cursor: pointer;
}
.dark-button:hover{
    /*background: #01364E;*/
    box-shadow: 0 0 5px 1px rgba(15, 122, 176, 1);
    /*border: 1px solid var(--dark-blue);*/
}
/*Thuộc thẻ div để bọc btn*/
.header__button{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 0px;
}
/*Thuộc thẻ button nằm trong div có chứa thuộc tiính header-btn*/
.button__btn{
    border: none;
    color: var(--dark-blue);
    width: 100%;
    height: 100%;
    background-color: var(--bright-green);
    font-size: var(--text-lg);
    font-weight: var(--fw-semibold);
    border-radius: 5px;
    cursor: pointer;
}
.button__btn:hover{
    background: #0CDA77;
}

/*Input style*/
.input-style {
    padding: 8px 10px;
    font-size: 1.6rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--light-grey);
    border-radius: 0.3rem;
}

/*Header*/
.web__header{
    background-color: var(--dark-blue);
}

.header__box{
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.header__logo {
    font-weight: 800;
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* tạo 2 dòng chữ */
.header__logo::before {
    content: "SOFT";
    display: block;
}

.header__browse{
    display: flex;
    align-items: center;
    margin-left: 35px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}
.header__browse::after {
    content: "";
    position: absolute;
    top: 100%; /* ngay dưới Browse */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}
.header__browse:hover{
    color: var(--bright-green)
}

.browse__text{
    font-weight: 600;
    margin-right: 5px;
}
.browse__icon{
    font-weight: 300;
}
.header__browse:hover .browse__display{
    display: block;
}
.browse__display{
    display: none;
}
.browse__container{
    display: flex;
    background-color: var(--white-color);
    border-radius: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 28px;
    z-index: 10;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
}
.browse__container-box-1::after{
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: -100px;
    width: 1px;
    background: #e0e0e0;
    pointer-events: none;
    z-index: 3;
}
.title{
    color: #394649;
    font-size: 1.5rem;
    font-weight: 700;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}
.text-list-item{
    color: var(--dark-blue);
    text-decoration: none;
    font-weight: 600;
}
.browse__box-category-list-item{
    width: 140%;
    padding: 10px 10px;

}
.browse__box-category-list-item:hover{
    background-color: var(--hover-color);
    border-radius: 5px;
}
.browse__container-box-1{
    margin: 15px 100px 35px 30px;
    position: relative;
}
.browse__container-box-2{
    margin: 15px 0 35px 30px;
}
.browse__box-category{
    width: 200px;
}
.box__title{
    margin: 15px 0;
    width: 190px;
}
.box-2{
}
.item-box{
    width: 80%;
    border: solid 1px var(--dark-blue);
    border-radius: 5px;
    margin: 5px 0 15px 0;
    height: 30px;
    display: flex;
    align-items: center;
}
.text-list-item-2{
    padding: 10px;
}
.item-box:hover{
    background-color: var(--hover-color);
}

.header__community{
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    margin: 0 35px;
}
.header__community:hover{
    color: var(--bright-green)
}

.header__search{
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px var(--white-color);
    color: var(--white-color);
    width: 34%;
    margin-right: 5px;
}
.search__icon{
    font-size: 2.4rem;

    padding-left: 10px;
}
.search__input{
    flex: 1;
    display: flex;
}
.input__text{
    flex: 1;
    background-color: var(--dark-blue);
    color: var(--white-color);
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
}
.input__text::placeholder {
    color: var(--white-color);
    text-decoration: none;
}
.input__text:focus {
    border: none;
    outline: none;
    box-shadow: none;
}
.input__text:focus::placeholder {
    color: transparent;
}

.header__class{
    color: var(--white-color);
    margin-left: auto;
}
.header__class:hover{
    color: var(--bright-green);
    cursor: pointer;
}
.header__wishlist{
    margin-left: 25px;
    color: var(--white-color);
}
.header__wishlist:hover{
    color: var(--bright-green);
}

.header__cart{
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;
    margin-left: 25px;
    position: relative;
}
.header__cart:hover{
    color: var(--bright-green);
}
.header__cart:hover .cart__display{
    display: block;
}
.cart__display{
    display: none;
}
.header__cart-list{
    position: absolute;
    top: calc(100% + 26px);
    right: 1px;
    background-color: var(--white-color);
    width: 300px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}
.header__cart::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 35px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}
.header__cart-list--no-cart{
    padding: 24px 0;
}

.header__cart-list-no-cart-img{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.header__notification{
    color: var(--white-color);
    display: flex;
    align-items: center;
    margin-left: 25px;
}
.header__notification:hover{
    color: var(--bright-green);
}
.notification__icon{
    cursor: pointer;
}
.header__notification {
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
}

/* Cho phép nhận focus */
.header__notification:focus {
    outline: none;
}

/* Popup mặc định ẩn */
.notification__popup {
    position: absolute;
    top: 44px;
    right: 0;
    width: 300px;
    max-height: 400px;
    background: var(--white-color);
    padding: 16px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.4);
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);
    transition: all 0.3s ease;
    z-index: 100;
}

/* Hiện popup khi phần tử cha có focus */
.header__notification:focus-within .notification__popup {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

/* Ngăn đổi màu chữ khi hover chuông */
.notification__popup div,
.notification__popup li {
    color: #333;
}

.notification__popup li:hover {
    background-color: #f5f5f5;
    color: #000;
}


.header__user{
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}
.header__user::after {
    content: "";
    position: absolute;
    top: 100%; /* ngay dưới Browse */
    left: 50%;
    transform: translateX(-50%);
    width: 30px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}
.user__avatar{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid var(--bright-green);
}
img{
    object-fit: cover;
}
.header__user:hover .user__display{
    display: block;
}
.user__display{
    display: none;
}
.user__container{
    background-color: var(--white-color);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top:100%;
    margin-top: 20px;
    right: 0;
    cursor: default;
    z-index: 10;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.user__profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px var(--hover-color);
}
.user__profile-avatar{
    margin-top: 20px;
}
.user__avatar-mini{
    object-fit: contain;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 1px var(--bright-green);
    cursor: pointer;
}
.user__profile-name{
    margin: 10px 0 0 0;
}
.name-text{
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
}
.bio-text{
    font-size: 1rem;
    text-decoration: none;
    color: #696969;
    cursor: pointer;
}
.user__profile-btn{
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 15px 30px;
}
.user__menu{

}
.user__menu-list{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}
.user__menu-list-item{
    width: 100%;
}
.user__menu-list-item-box{
    width: 100%;
    /*font-size: 1.4rem;*/
    /*font-weight: 700;*/
    color: var(--dark-blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
}
.user__menu-list-item-box:hover{
    background-color: var(--hover-color);
}
.sign-out{
    border-top: solid 1px var(--hover-color);
    color: red;
}


/* Footer */
.web__footer{
    padding-top: 16px;
    background-color: var(--dark-blue);
}

.footer__heading{
    /*font-size: 1.6rem;*/
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-list{
    padding-left: 0;
    list-style: none;
}

.footer-item__link{
    text-decoration: none;
    color: var(--white-color);
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover{
    color: var(--bright-green);
}

.footer__download{
    display: flex;
}

.footer__download-apps{
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img{

}

/* cái này tránh các trình duyệt cũ sẽ hiện ra nên sửa luôn  */
.footer__download-app-link{
    text-decoration: none;
    color: transparent;
}

.footer__bottom{
    background-color: var(--dark-blue);
    padding: 8px 0;
    margin-top: 36px;
}

.footer__bottom .grid:first-child{
    border-top: 2px solid var(--bright-green);
}

.footer__text{
    text-align: center;
    color: var(--white-color);
    margin-left: 20px;
    cursor: pointer;
}
.footer__text:hover{
    color: var(--bright-green);
}
.ul__text{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    margin-left: 20px;
}
/* Pagination */
.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
}

.pagination-item{
    margin: 0 12px;
}

.pagination-item__icon{
    font-size: var(--text-lg);
    color: var(--dark-blue);
}

.pagination-item--active .pagination-item__link{
    background-color: var(--dark-blue);
    color: var(--white-color);
}

.pagination-item__link:hover{
    background-color: var(--dark-blue);
    color: var(--white-color);
}

.pagination-item__link:hover i {
    color: var(--white-color);
}

.pagination-item__link{
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: var(--text-lg);
    font-weight: 300;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}


