.time-and-save__time{
    font-size: var(--text-lg);
}
.time-and-save__save-icon{
    font-size: var(--text-2xl);
}
.product__small-advertisement{
    transition: transform 0.2s ease;
}
.product__small-advertisement:hover{
    transform: translateY(-5px);
}
.product__small-title{
    font-weight: 600;
    margin: 40px 0;
    width: 100%;
    color: var(--dark-blue);
}
.product__small-advertisement{
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 40px;
}
.small-advertisement__image{
    width: 100%;
    height: 150px;
}
.img-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.small-advertisement__content{
    padding: 10px;
    background-color: var(--white-color);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 180px;
}
.content__top{
    display: flex;
    justify-content: space-between;
    color: var(--dark-blue);
    align-items: center;
    margin: 10px 0 5px 0;
}
.content__author-name{
    font-weight: 500;
}
.content__rate{
    display: flex;
}
.rate__icon i{
    margin-right: 3px;
    position: relative;
    top: 2px;
    color: var(--yellow-color);
    font-weight: 900;
}
.rate__number{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.content__paragraph p{
    color: var(--dark-blue);
    margin: 15px 0;
}
.content__list{
    display: flex;
}
.content__list-item{
    font-size: 1rem;
    background-color: var(--hover-color);
    padding: 2px 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.content__quick-info{
    display: flex;
    margin: 17px 0 20px 0;
    color: var(--dark-blue);
}
.quick-info__level{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.quick-info__users{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.quick-info__time{
    display: flex;
    align-items: center;
}
.icon{
    font-size: 2.2rem;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.quick-info__save{
    font-size: 2.6rem;
    position: relative;
    top: -2px;
}
.content__price{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.price__new{
    font-size: var(--text-3xl);
    color: var(--blue);
    font-weight: var(--fw-bold);
}
.price__old{
    font-size: 1.6rem;
    margin-left: 20px;
    color: red;
    text-decoration: line-through;
}
.quick-info__save{
    margin-left: auto;
}
.test-text p{
    margin-top: 16px;
    margin-bottom: 7px;
}
.quick-info__save__icon{
    font-size: var(--text-2xl);
}
.quick-info__save:hover{
    color: red;
}
