
.web__container {
    padding: 0 60px;
    max-width: 100%;

}

.h1 {
    display: block;
    margin-top: 60px;
    line-height: 1;
}

.summary {
    display: block;
    padding: 4rem 0;

    line-height: 1.2;

}

.layout {
    display: flex;
    flex-direction: column;

}

.layout__checkout-summary {
border: 3px solid black;

    align-self: flex-end;
    width: 40rem;
    margin: 50px 20px 0 0;
    padding: 15px;

}

/* phan chia bo cuc 1 (Detail/PriceAction) */
.cart-items {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid lightgrey;
    padding: 20px 0;

}

/* phan chia bo cuc 2 (Text va Image)*/
.cart-items__detail {
    display: flex;

}

.detail__image-container {
    width: 17%;
    margin-right: 16px;
    flex-shrink: 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(134, 134, 134, 0.5);
}

.image {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: inherit;
    object-position: center;

}

/* phan chia bo cuc 3 Text */
.detail__info {
    padding-left: 0;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    flex-grow: 1;


}

.name__title {
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.2;
}

p {
    margin: 0;
}


.info__rating-group {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    min-width: 300px;
}


.tags {
    background-color: var(--hover-color);
    padding: 2px 9px;
    border-radius: 10px;
}

.rating {
    margin: 0 0.8rem;
}

.ratings-count {
    color: #555;
}

.course-stats {
    margin-top: 0.7rem;
    color: #555;
}

.course-stats > span {
    display: inline-block;
    margin-right: 0.7rem;
}


.action-price-group {
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
    height: 100%;
    gap: 7rem;
}

.items-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-width: 11rem;
}

.action__link {
    cursor: pointer;
    color: #3722D3;
    font-size: 1.4rem;
    margin-bottom: 15px;
    text-decoration: none;

}

.action__link:hover {
    background-color: rgba(55, 34, 211, 0.17);
    border-radius: 2px;
}

.items-price {
    min-width: 140px;
}

.price-icon {
    font-size: 1.6rem;
}

.price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #3722D3;
}

.checkout-summary {
    display: flex;
    flex-direction: column;

    margin-top: 5rem;

}

.total__label {
    margin: 0 0 2.2rem 0;
}

.total__amount {

    margin-bottom: 1.9rem;
}

/* phan Checkout */
.checkout-button {
    border-bottom: 1px solid lightgrey;
}

.btn__checkout {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #01FF85;
    color: black;
    font-weight: bold;
    font-size: 1.6rem;
    border: none;
    border-radius: 2px;
    margin-top: 8px;
    margin-bottom: 15px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 8px 15px;

}

.btn__checkout:hover {
    box-shadow: 0 0 5px #01FF85;
}

.charge-note {
    color: #555555;
    font-size: 1.2rem;

}

.btn-coupon {
    background-color: #ffffff;
    cursor: pointer;
    text-align: center;
    color: #3722D3;
    font-weight: bold;
    font-size: 1.6rem;
    border: 1px solid black;
    border-radius: 2px;
    margin-top: 19px;
    width: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 8px 15px
}

.btn-coupon:hover {
    box-shadow: 0 0 5px #3722D3;
}

.scrollable-order-list {
    max-height: 350px;
    overflow-y: auto;
    padding-right: 10px;
padding-top: 10px;
    border-bottom: 1px solid lightgrey;
}

.cart-items__tick {
    margin: 0 5rem;
}

.cart-items__tick .tick {
    transform: scale(1.5);
}