/*body{*/
/*    margin: 0;*/
/*    !*font-family: Roboto;*!*/
/*    box-sizing: border-box;*/
/*}*/
div{
    font-size: medium;
    /*color: black;*/
}
.course-detail__container{
    /*background: #1C2329;*/
}
.course-detail__title{
    color: #1C2329;
    font-weight: bold;
    font-size: 3rem;
    line-height: 3rem;
    margin-bottom: 14px;
}
.course-detail__context{
    color: #1C2329;
    line-height: 3rem;
    font-size: medium;
}
.course-detail__stroke{
    width: 1200px;
    background: #DCDEE1;
    padding: 1px;
    border-radius: 10px;
    margin: 20px auto;
}
/*Section 1*/
.section-1{
    padding: 55px;
    background: #002333;
}
.section-1__content{
    display: flex;
    align-items: center;
}
.section-1__context{
    padding: 40px;
    width: 50%;
}
.section-1__sub-title{
    color: #DCDEE1;
    font-size: 1.6rem;
    font-weight: 1;
    line-height: 50px;
}
.section-1__title{
    color: white;
    font-size: 4rem;
    font-weight: 700;
    line-height: 50px;
}
.section-1__block{
    /*padding: 10px;*/
    width: 50%;
    /*background: #3722D3;*/
}
.section-1__img iframe{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-1__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.section-1__option {
    display: flex;
    /*width: 100%;*/
    align-items: center;
}
.section-1__option-item{
    margin: 10px;
}
.section-1__icon:hover{
    color: #01FF85;
}
.section-1__icon-list:hover{
    border: 2px solid #01FF85;
}
.section-1__option-item:hover {
    /*background: #01FF85;*/
}
.section-1__icon{
    color: white;
    font-size: 20px;
}
.section-1__icon-list {
    padding: 7px;
    cursor: pointer;
     border: 2px solid white;
    border-radius:5px ;
}
 .section-1__button{
    padding: 10px;
     /*margin: 30px;*/
    color: #002333;
    border-radius: 5px;
    background: #01FF85;
    font-weight: bold;
     font-size: 25px;
    width: 25%;
     text-align: center;
     cursor: pointer;
}
.section-1__price{
     color: white;
    margin-bottom:10px ;
 }

/*Section 2*/
 .section-2{
     padding-top: 20px;
 }

/*Section 3*/
.section-3__content{
    height: 100%;
}
.section-3__list-skill ul li{
    color: #394649;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #DCDEE1;
    border-radius: 3px;
    float: left;
    list-style-type: none;
}
.section-3__list-skill ul{
    padding: 0;
    overflow: auto;
}

/*Section 4*/
.section-4__content{

}
.section-4__list-lessons ul{
    padding-left: 0px;
}
.section-4__list-lessons ul li{
    color: #1C2329;
    font-size: 1.4rem;
    /*font-weight: bold;*/
    padding: 10px 0;
    list-style-type: none;
}
.section-4__lesson-container{

}
.section-4__lesson-item{
    width: 1200px
}
.section-4__lesson-information{
    display: flex;
}
.section-4__lesson-time{
    text-align: right;
    width: 5%;
}
.section-4__lesson-title{
    width: 60%;
}
.section-4__lesson-icon .fa-circle-play{
    font-size: medium;
    color: #1C2329;
}
.section-4__lesson-icon{
    width: 3%;
}