/*body{*/
/*    margin: 0;*/
/*    !*font-family: Roboto;*!*/
/*    box-sizing: border-box;*/
/*}*/

/*div{*/
/*    font-size: medium;*/
/*    !*color: black;*!*/
/*}*/
.course-detail__container{
    /*background: #1C2329;*/
    /*margin-top: 20px;*/
}
/*CHo chữ cần màu chứ k phải title*/
.color__dark-blue {
    color: var(--dark-blue);
    font-weight: bold;
}
/*CHo các tiêu đề nhỏ hơn tiêu đề chính*/
.style__sub-title {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 2.4rem;
    margin-top: 2.4rem;
}
/*Cho các chữ nội dung nhỏ*/
.style__text{
    color: #5F6368;
}

/*Section 1*/
.section-1__stroke{
    border: solid 1px #D9D9D9;;
    margin: 24px 0;
}

.grid__column-8{
    width: 66.667%;
}
.grid__column-4{
    width: 33.333%;
}
.section-1{
    /*background: #01FF85;*/
    margin-top: 20px;
}
.section-1__breadcrumb{
    display: flex;
    margin-left: -8px;
}
.section-1__breadcrumb-item{
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    padding: 0 8px;
}
.section-1__breadcrumb-name{
    color: var(--bright-green);
    font-weight: bold;
}
.section-1__main-title{
    padding-top: 45px;
    margin-left: -8px;
    color: var(--dark-blue);
}
.section-1__sub-title{
    color: #5F6368;
    padding-top: 30px;
}

.section-1__rating{
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 30px;
    padding-left: -8px;
}
.section-1__rating-item{
    padding: 8px;
    margin:0 8px;
}

.section-1__rating-star{
    display: flex;
}
.section-1__rating-star-item{
    padding: 0 4px;
    color: #F8D706;
}
.section-1__best-seller{
    /*border: ;*/
    background: #ADC2E2;
    color: #2C67A9;
    border-radius: 2px;
    font-weight: bold;
}
.section-1__high-rated{
    background: #FFE1B2;
    color: #8B4309;
    border-radius: 2px;
    font-weight: bold;
}
.section-1__rating-quantity{
    color: var(--bright-green);
    font-weight: bold;
}
.section-1__creator{
    margin-top: 18px;
}
.section-1__creator-title{
    color: #5F6368;
}
.section-1__creator-name{
    color: var(--bright-green);
    font-weight: bold;
}

.section-1__updated{
    margin-left: -8px;
    margin-top: 14px;
}
.section-1__updated-item .fa-calendar-days{
    font-size: 1.6rem;
}
.section-1__updated-item{
    color: #5F6368;
    padding: 0 8px;
    margin-top: 22px;
}

/*Section 2*/
.section-2__list-container{
    display: flex;

}
.section-2__skills{
    border: solid 1px #D9D9D9 ;
    padding: 2.4rem;
}
.section-2__list li{
    padding: 2.4rem;
    list-style-type: none;
}


.section-3__content{
    height: 100%;
}
.section-3__title{
    font-size: 2.4rem;
    margin-bottom: 24px;
}
.section-3__list-skill ul li{
    color: #394649;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid #DCDEE1;
    border-radius: 3px;
    float: left;
    list-style-type: none;
}
.section-3__list-skill ul{
    padding: 0;
    overflow: auto;
}