/*phan font chu*/
.text-4xl {
    font-size: var(--text-4xl);
}

.text-3xl {
    font-size: var(--text-3xl);
}

.text-lg {
    font-size: var(--text-lg);
}

.text-sm {
    font-size: var(--text-sm);
}

.bold {
    font-weight: var(--fw-bold);
}

.light {
    font-weight: var(--fw-light);
}

.regular {
    font-weight: var(--fw-regular);
}

.text-xl {
    font-size: var(--text-xl);
}
/*Khung colum1 va khung colum2*/
.layout {
    display: flex;
    justify-content: space-between;
}

.column1 {
    margin-top: 2rem;
}

.column2 {
    margin-top: 2rem;
    height: 710px;
    background-color: var(--white-color);
}

/*Phan box chua title*/
.content-container {
    margin-top: 10px;
    margin-bottom: 60px;
    background-color: var(--white-color);
}

.container__title-video {
    font-size: var(--text-5xl);
    margin-bottom: 13px;
    padding: 20px;
}
/*phan box chua rating,student,duration*/
.container__sub-header {
    display: flex;
    padding: 0 0 20px 20px;
}
.sub__header {
    margin-right: 15px;

}
.container__sub-header > div {
    display: flex;
    flex-direction: column;
}

.star1 {
    margin-right: 0.5rem;

    display: flex;
    align-items: center;
}

.star1__star-icon {
    margin-left: 2px;
}
/*Phan review*/
.review-box__header {
    padding: 20px 20px 0 20px;

}
.review-box__header span {
    font-size: var(--text-3xl);
    font-weight: var(--fw-bold);
}

.user__avatar1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.review-box__comment {
    display: flex;
    margin-top: 25px;
    border-top: 1px solid var(--light-grey);
    padding-top: 3rem;
}

.comment__user {
    margin-right: 3rem;
    display: flex;
    align-items: flex-start;
}

.box span {
    font-size: var(--text-lg);

}

.box {
    margin-bottom: 0.5rem;
}

.review-in4 {
    display: flex;
    align-items: center;
}

.box .review__name {
    font-weight: var(--fw-semibold);
}

.box .review__time {
    font-size: var(--text-sm);
    font-weight: var(--fw-light);
    text-align: center;
    margin-left: 1rem;
}

.box__date {
    display: flex;
    align-content: center;
}

.star {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    padding-top: 0.1rem;
}
.star-icon{
    display: flex;
    margin-left: 5px;
}

.box__comment {
    margin-top: 1rem;
}


/*Phan box chua course content*/
.content__box {
    width: 100%;
    border: 1px solid var(--light-grey);
    padding: 1rem 0 1rem 1rem;
    max-height: 635px;
    overflow-y: auto;
    cursor: pointer;
}

.box__column1 {
    margin-right: 15px;
}

.column1__tick {
    padding-top: 1rem;
    padding-left: 10px;
}

.tick {
    transform: scale(1.2);
    cursor: pointer;
}

.content__header {
    margin: 25px 0 2rem 10px;
}

.box__content {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid var(--light-grey);
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.box__content:hover {
    background: var(--dark-blue);
    color: var(--white-color);
}

.column2__header {
    margin-bottom: 1rem;
}