.header__button-box{
    display: flex;
    margin-left: auto;
}
.sign-in-box{
    margin-right: 10px;
    border: solid 2px var(--white-color);
    border-radius: 5px;
}
.sign-in{
    background-color: var(--dark-blue) !important;
    color: var(--white-color) !important;
}
.header__search-2{
    margin-left: 30px;
}

/* Container */
.header__button-box{
    display: flex;
    margin-left: auto;
}
.sign-in-box{
    margin-right: 10px;
    border: solid 2px var(--white-color);
    border-radius: 5px;
}
.sign-in{
    background-color: var(--dark-blue) !important;
    color: var(--white-color) !important;
}
.header__search-2{
    margin-left: 30px;
}
.fix-padding-1{
    padding-right: 0 !important;
}
.fix-padding-2{
    padding-left: 0 !important;
}
.box-1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    margin: 60px 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
    color: var(--white-color);
}
.img{
    width: 130px;
    height: 130px;
    object-fit: cover;
}
.box-2{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 60px 0;
    padding: 60px 50px 80px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--white-color);
}
.form{
    cursor: default;
}
.form__input{
    width: 100%;
    margin: 5px 0 25px;

}
.input-text{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}
.form__span{
    margin: 60px 0 10px;
}
.form__button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    border-bottom: solid 1px var(--light-grey);
}
.support{
    width: 50%;
}
.box-btn{
    background-color: var(--bright-green);
    color: var(--dark-blue);
    padding: 10px 0;
    width: 70%;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form__turn-back{
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 82px;
}
.turn-back{
    color: var(--blue);
    font-weight: var(--fw-semibold);
}
.turn-back:hover{
    text-decoration: underline;
}