.web__container{

}
.container__category{
    margin-top: 40px;
}
.container__category-title{
    font-size: var(--text-lg);
    font-weight: 700;
    margin-bottom: 10px;
    color: var(--dark-blue);
    padding: 10px 0 10px 10px;
    border-radius: 5px;
}
.container__category-title:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}
.container__category-list{
    list-style: none;
    padding: 0;
}
.container__category-list-item{
    padding: 10px 0 10px 10px;
    color: var(--dark-blue);
    border-radius: 5px;
}
.container__category-list-item:hover{
    cursor: pointer;
    background-color: var(--hover-color);
}

.container__intro{
    background-color: var(--dark-blue);
    border-top: solid 1px var(--bright-green);
}
.intro__slogan{
    padding-top: 60px;
    color: var(--white-color);
    margin-bottom: 30px;
}
.intro__benefits{
    margin-bottom: 30px;
    display: flex;
}
.benefits-box-2{
    margin-left: 80px;
}
.text-icon{
    font-size: 2.4rem;
}
.list-item__text{
    font-size: var(--text-2xl);
    position: relative;
    top: -1px;
    font-weight: 400;
}
.benefits__list{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.list-item__icon{
    font-size: var(--text-2xl);
    color: var(--bright-green);
    margin-right: 10px;
}
.list-item__text{
    color: var(--white-color);
}
.intro__stats{
    display: flex;
}
.stats__box{
    background-color: var(--bright-green);
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    border-radius: 5px;
    color: var(--dark-blue);
}
.stats__number{
    font-weight: 700;
    margin-bottom: 5px;
}
.stats__text{
    font-weight: 700;
}
.intro__image-box{
    padding-top: 30px;
}

.product__big-title{
    color: var(--dark-blue);
    margin: 60px 0;
}
.product__big-advertisement{
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 235px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    cursor: pointer;
}
.big-advertisement__image{
    width: 50%;
    height: 100%;
}
.img-1{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}
.big-advertisement__content{
    width: 50%;
    padding-left: 20px;
    height: 100%;
}
.content__title{
    font-size: var(--text-3xl);
    margin-top: 20px;
}
.content__information{
    display: flex;
    margin-top: 35px;
}
.information__img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.img__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.information__content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.content__content{
    color: var(--dark-blue);
    text-decoration: none;
    margin: 2px 0;
}
.content__time-and-save{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    color: var(--dark-blue);
}
.time-and-save__time{
    font-size: var(--text-lg);
}
.time-and-save__save-icon{
    font-size: var(--text-2xl);
    color: var(--dark-blue);
}
.time-and-save__save-icon:hover{
    color: red;
}
.product__small-advertisement{
    transition: transform 0.2s ease;
}
.product__small-advertisement:hover{
    transform: translateY(-5px);
}
.product__small-title{
    font-weight: 600;
    margin: 40px 0;
    width: 100%;
    color: var(--dark-blue);
}
.product__small-advertisement{
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    margin-bottom: 40px;
}
.small-advertisement__image{
    width: 100%;
    height: 150px;
}
.img-2{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.small-advertisement__content{
    padding: 10px;
    background-color: var(--white-color);
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    height: 180px;
}
.content__top{
    display: flex;
    justify-content: space-between;
    color: var(--dark-blue);
    align-items: center;
    margin: 10px 0 5px 0;
}
.content__author-name{
    font-weight: 500;
}
.content__rate{
    display: flex;
}
.rate__icon i{
    font-weight: 500;
    margin-right: 3px;
    position: relative;
    top: 2px;
}
.rate__number{
    display: flex;
    align-items: center;
    font-weight: 500;
}
.content__paragraph p{
    color: var(--dark-blue);
    margin: 15px 0;
}
.content__list{
    display: flex;
}
.content__list-item{
    font-size: 1rem;
    background-color: var(--hover-color);
    padding: 2px 9px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.content__quick-info{
    display: flex;
    margin: 17px 0 20px 0;
    color: var(--dark-blue);
}
.quick-info__level{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.quick-info__users{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.quick-info__time{
    display: flex;
    align-items: center;
}
.icon{
    font-size: 2.2rem;
    margin-right: 4px;
    position: relative;
    top: -2px;
}

.quick-info__save{
    font-size: 2.6rem;
    position: relative;
    top: -2px;
}
.content__price{
    display: flex;
    align-items: center;
    margin-top: 24px;
}
.price__new{
    font-size: var(--text-3xl);
}
.price__old{
    font-size: 1.6rem;
    margin-left: 20px;
    color: #696969;
    text-decoration: line-through;
}
.quick-info__save{
    margin-left: auto;
}
.test-text p{
    margin-top: 16px;
    margin-bottom: 7px;
}
.quick-info__save__icon{
    font-size: var(--text-2xl);
}
.quick-info__save:hover{
    color: red;
}