p {
    margin: 0;
}
ul{
     padding: 0;
 }
/*Phan box chua tat ca*/
.payment-success-layout {
    background-color: var(--white-color);
    border: 1px solid var(--light-grey);
    margin: 60px 0;
    padding: 40px 30px;
    border-radius: 7px;
}
/*Phan box chua cac header*/
.header-box {
    border-bottom: 1px solid var(--light-grey);
    padding: 40px 30px;
}

.box__row1-header {
    margin: 35px 0;
}
.box__row2-header{
    display: flex;
    justify-content: space-between;
}
.status{
    color: #018d4a;
}

.icon-check{
    margin-right: 1px;
    font-size: var(--text-3xl);
    text-align: center;
}
/*phan box chua summary*/
.summary-box {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary-box1 {
    border-bottom: 1px solid var(--light-grey);
}

.box__row1, .box__row2, .box__row3, .box__row4 {
    display: flex;
    line-height: 1.5;
    justify-content: space-between;
}

.number {
    margin-left: 20px;
    font-size: var(--text-2xl);
    font-weight: var(--fw-light);
}

.text {
    font-weight: 600;
    font-size: var(--text-2xl);
}
/*Nut home va nut my class*/
.button-box {
    display: flex;
    justify-content: center;
    gap: 10rem;
    width: 100%;
}
.button{
    width: 24rem;
    height: auto;
}
.home-btn {
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}
/*Phan sub title o khung order detail*/
.title__2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    margin-top: 4rem;
    margin-bottom: 10px;
}

.items__name {
    font-weight: 600;
}

#items, #price {
    font-size: 2rem;
    font-weight: 550;
}
.price-header {
     display: block;
     width: 150px;
     flex-shrink: 0;
     text-align: right;
     padding-right: 4.5rem;
 }
/*Khung chua cac items*/
.scrollable-order-list {
    border-radius: 7px;
    max-height: 300px;
    overflow-y: auto;
    padding-right: 10px;
    padding-top: 10px;
    background-color: var(--white-color);
    margin-bottom: 30px;
    border-top: 1px solid var(--light-grey);
}
.order-items {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    border-bottom: 1px solid var(--light-grey);
    margin-bottom: 15px;
    width: 100%;
}

.items__content {
    display: flex;
    align-items: center;

}

.content__image {
    width: 40%;
    margin-right: 20px;
    height: 100px;

}

.image {
    border-radius: 7px;
    width: 100%;
    height: 100%;
    object-fit: inherit;
}

.items__price {
    display: block;
    width: 150px;
    flex-shrink: 0;
    text-align: right;
    padding-right: 10px;

}
.amount-origin{
font-size: var(--text-base);
font-weight: var(--fw-light);
text-decoration: line-through;
    color: red;

}
.amount-discounted{
    font-size: var(--text-base);
    font-weight: var(--fw-bold);
    color: #3722D3;
}

.content__name {
    max-width: 450px;
}



/*CSS cho phan receipt trong order-history co nut back ve*/
.icon-return{
    padding: 0;

}