
:root {
    --bright-blue: #264457;
}

.container-1 {
    background: var(--dark-blue);
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}

.container-1__title {
    color: var(--white-color);
    font-size: var(--text-5xl);
    font-weight: var(--fw-bold);
    margin: 3rem 0;
    /*margin-bottom: 6rem;*/
}

.container-1__menu li .fa-books {

}

.container-1__menu {
    margin-top: 6rem;
}

.container-1__menu li i {
    color: var(--white-color);
    font-size: var(--text-3xl);
    margin-right: 1rem;
}

.container-1__menu li {
    margin: 2rem 0;
    list-style-type: none;
}

.container-1__menu ul {
    padding-left: 0;
}

.container-1__menu-items a span {
    font-size: var(--text-xl);
    font-weight: var(--fw-medium);
}

a {
    font-size: var(--text-xl);
    /*font-weight: var(--fw-medium);*/
    color: var(--white-color);
    text-decoration: none;
}

.student-list:hover {
    background: var(--bright-blue);
}
.student-list {
    background: var(--bright-blue);
}

.menu-item__student span{
    font-size: var(--text-xl);
}
.menu-item__student .fa-solid{
    font-size: var(--text-xl);
}
.menu-item__student:hover {
    background: var(--bright-blue);
}
.menu-item__student {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    padding: 0.5rem;
}

/*Container 2*/
.container-2 {
    padding: 0 !important;
}

.container-2__grid {
    padding: 0 1rem;
    margin-top: -8rem;
}

.container-2__header {
    background: var(--white-color);
    height: 8rem;
    width: 100%;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    justify-content: space-between;
}

.admin-create__buttons button {
    background: var(--dark-blue);
    color: var(--white-color);
    padding: 1rem 2rem;
    font-size: var(--text-lg);
    border: solid 1px var(--dark-blue);
    border-radius: 3px;
    cursor: pointer;
}

.admin-create__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-create__buttons i {
    margin-right: 0.5rem;
    font-size: var(--text-base);
}

.header__title {
    color: var(--dark-blue);
    font-size: var(--text-4xl);
    font-weight: var(--fw-semibold);
    line-height: 5rem;
}

.title__admin {
    margin-top: 2rem;
    font-size: var(--text-xl);
}

.container-2__list-student {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    width: 100%;
}

/*Filter*/
.container-2__filter {
    margin-top: 2rem;
    background: var(--white-color);
    /*height: 6rem;*/
    display: flex;
    padding: 2rem;
    align-items: center;
    width: 100%;
}

.filter__selection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

/*Create*/
.container-2__create {
    margin-top: 2rem;
    background: var(--white-color);
    /*height: 6rem;*/
    display: flex;
    padding: 2rem;
    width: 100%;

}

.create__selection {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.5rem;
}

.create__selection-input {
    display: flex;
    width: 100%;
    gap: 2rem;

}

.create__selection-items {
    font-size: var(--text-2xl);
    flex: 1;
}

.input__create {
    width: 100%;
}

.create__selection-items--wide {
    flex: 2;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.create__selection-items--wide .input__create {
    width: 100%;
}

.create__btn-create {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.create-btn {
    border-radius: 4px;
    color: var(--white-color);
    background-color: black;
    padding: 8px 15px;
    font-weight: var(--fw-regular);
}

input {
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    color: var(--dark-blue);
    font-weight: var(--fw-regular);
    padding: 0.5rem 1rem;
}

.input__font {
    font-size: var(--text-sm);
}

select {
    font-size: var(--text-sm);
    border: 1px solid var(--light-grey);
    border-radius: 3px;
    color: var(--dark-blue);
    font-weight: var(--fw-regular);
    padding: 0.5rem 1rem;
}

.filter__selection-items {
    font-size: var(--text-2xl);
    padding-right: 2rem;
    /*width: 30%;*/
}

.filter__selection-input {
    display: flex;
    width: 90%;
}

.filter__button-search {
    display: flex;
    width: 10%;
    align-items: center;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 1rem;
    background: var(--dark-blue);
    border: solid 1px var(--dark-blue);
    border-radius: 3px;
    cursor: pointer;
}

.fa-magnifying-glass {
    display: flex;
    align-items: center;
    font-size: var(--text-lg);
    color: var(--white-color);
}

/*Danh sách các students*/
table {
    /* Gộp các đường viền lại */
    border-collapse: collapse;
    background: var(--white-color);
    width: 100%;
}

/*Xử lý thằng đầu cho in đậm và có đường kẻ trên*/
thead th {
    font-weight: var(--fw-bold);
    border-top: 1px solid var(--light-grey);
}

/* Nhóm table, th, và td và áp dụng cho cả 3 */
/*Giair quyết đường kẻ chung cho table*/
table, th, td {
    font-size: var(--text-base);
    font-weight: var(--fw-regular);
    padding: 1rem;
    border-bottom: 1px solid var(--light-grey);
    text-align: center;
}
td .action__button {
    display: flex;
}
.icon-action {
    font-size: var(--text-2xl);
    cursor: pointer;
    padding: 0 4px;
    padding-bottom: 0.4rem;
    color: var(--dark-blue);
}
td a span:hover {
    font-size: var(--text-2xl);
    background: var(--dark-blue);
    color: var(--white-color);
    border-radius: 3px;
}

/*Thêm đường kẻ cho các con ở bên trái*/
td:first-child,th:first-child{
    border-left: 1px solid var(--light-grey);
}

/*Thêm đường kẻ cho các con ở bên phải*/
td:last-child ,th:last-child{
    border-right: 1px solid var(--light-grey);
}
