
th, td {
    padding: 16px;
}

th {
    background: #f8f9fa;
    font-weight: var(--fw-bold);
    color: #333;
    /*font-size: 0.9rem;*/
}

/* Lớp nền mờ (ẩn ban đầu) */
.modal__course-detail {
    display: none;
    /* Cố định không di chuyển theo scroll, tức là tạo ra 1 màn lớn nằm trên màn hiện tại*/
    position: fixed;
    /*Gíup modal bao phủ toàn trang*/
    /*Nếu không có thì nó sẽ mặc định ở dưới cái nút bấm*/
    top: 0;
    left: 0;
    /*Chiếm toàn bộ màn hình tính từ cái bg*/
    width: 100%;
    height: 100%;
    /*Màu nền khi hiển thị hộp thoại*/
    background: rgba(0, 0, 0, 0.5);
    /*Đè lên trên các nội dung của trang đó để k bị vướng thao tác*/
    z-index: 99;

    /*Canh theo chiều dọc cuar flex-box*/
    align-items: center;
    /*Canh theo chiều ngang của flex-box*/
    justify-content: center;
}

/* Nội dung của modal */
.modal__course-content {
    background: white;
    /*padding: 20px;*/
    border-radius: 0.7rem;
    min-width: 70rem;
    min-height: 50rem;
    text-align: center;
    color: #333;
}

.course__header {
    background: var(--dark-blue);
    color: var(--white-color);
    width: 100%;

    padding: 1rem;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    display: flex;
    justify-content: space-between;
}

.course__title {
    font-size: var(--text-2xl);
    line-height: 3rem;
    font-weight: var(--fw-semibold);
}

.x__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-x {
    /*font-weight: var(--fw-medium);*/
    font-size: var(--text-2xl);
}

.course-body {
    padding: 2rem;
}

/* PHẦN QUAN TRỌNG NHẤT */
/* Khi modal này là :target (tức là URL là #my-modal) nó sẽ hiện ra */
.modal__course-detail:target {
    display: flex; /* Hiện ra */
}

.container-2__list-student {
    .action-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        height: 100%;
    }

    .icon-action-btn {
        width: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        border-radius: 4px;
        color: var(--dark-blue);
        transition: all 0.2s;
    }

    .icon-action-btn:hover {
        background-color: #f0f0f0;
        transform: translateY(-1px);
    }


    table {
        border-collapse: collapse !important;
    }

    table td {
        border-bottom: 1px solid var(--light-grey);
        height: 55px;
    }

}
.search-empty-state{
    text-align: center; padding: 40px 0;
}
.search-empty-icon{
    font-size: 3rem; color: #ccc;
}
.search-empty-title{
    font-size: 1.8rem; font-weight: bold; margin-top: 15px;
}

#confirm-delete-modal{
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    justify-content: center;
}
.modal-content{
    background: white;
    padding: 25px;
    border-radius: 8px;
    width: 350px;
    text-align: center;
}
.modal-content h3{
    color: #dc3545;
    font-size:1.8rem;
}
.modal-content p{
    font-size: 1.6rem;
}
.modal-content div{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}
.modal-content div .button.btn-cancel{
    padding: 8px 20px;
}
.modal-content div #btn-confirm-delete{
    background-color: #dc3545;
    padding: 8px 20px;
}
#delete-form-id{
    display: none
}