.container-2__list-student {

    .action-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        height: 100%;
    }

    .icon-action-btn {
        width: 32px;
        height: 32px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border: none;
        background: transparent;
        cursor: pointer;
        border-radius: 4px;
        color: var(--dark-blue);
        transition: all 0.2s;
    }

    .icon-action-btn:hover {
        background-color: #f0f0f0;
        transform: translateY(-1px);
    }


    table {
        border-collapse: collapse !important;
    }

    table td {
        border-bottom: 1px solid var(--light-grey);
        height: 55px;
    }

}
.search-empty-state{
    text-align: center;
    padding: 40px 0;
}
.search-empty-icon{
    font-size: 3rem;
    color: #ccc;
}
.search-empty-title{
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 15px;
}