
.dark-bg {
    background: var(--dark-blue);
    height: 34rem;
}

.course-detail__container {
    margin-top: -35rem;
}

.section-3_li {
    min-width: 30px;
    cursor: pointer;
}

/*CHo chữ cần màu chứ k phải title*/
.color__dark-blue {
    color: var(--dark-blue);
    font-weight: bold;
}

/*CHo các tiêu đề nhỏ hơn tiêu đề chính*/
.font__sub-title {
    font-weight: var(--fw-medium);
}

.style__sub-title {
    color: var(--dark-blue);
    font-weight: bold;
    font-size: 2.4rem;
    margin-bottom: 2.4rem;
}

.section__space {
    margin-bottom: 3.2rem;
}

/*Cho các chữ nội dung nhỏ*/
.style__text {
    /*color: #5F6368;*/
}

/*Section 1*/
.section-1__stroke {
    border: solid 1px #D9D9D9;;
    margin: 24px 0;
}

.container-1 {
    /*background: #01FF85;*/
    margin-top: 20px;
    padding: 0 8px 0 0;
}

.section-1 {
    background: var(--dark-blue);
    padding: 20px;
    padding-left: 0;
    padding: 0 2rem 2rem 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.section-1__breadcrumb {
    display: flex;
    margin-left: -8px;
}

.section-1__breadcrumb-item {
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    font-size: var(--text-base);
    padding: 0 8px;
    cursor: pointer;
    text-decoration: none;
}

.section-1__breadcrumb-item:hover {
    /*background: var(--bright-blue);*/
    /*border-radius: 0.3rem;*/
    text-decoration: underline;
    /*padding: 2rem;*/
    /*color: var(--dark-blue);*/
}

.fa-angle-right {
    color: var(--white-color);
}

.section-1__breadcrumb-name {
    color: var(--bright-green);
    font-weight: bold;
}

.section-1__main-title {
    padding-top: 3rem;
    color: var(--white-color);
    line-height: 4rem;
}

.section-1__sub-title {
    color: var(--white-color);
    font-weight: var(--fw-light);
    padding-top: 2rem;
    line-height: 3rem;
}

.section-1__rating {
    display: flex;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: 2rem;
    padding-left: -8px;
}

.section-1__rating-item {
    padding: 8px;
    margin: 0 8px;

}

.section-1__rating-star {
    display: flex;
}

.section-1__rating-star-item i {
    font-size: var(--text-base);
}

.section-1__rating-star-item {
    font-size: var(--text-base);
    padding: 0 4px;
    color: var(--yellow-color);
}

.section-1__best-seller {
    /*border: ;*/
    background: #ADC2E2;
    color: #2C67A9;
    border-radius: 2px;
    font-weight: bold;
}

.section-1__high-rated {
    background: #FFE1B2;
    color: #8B4309;
    border-radius: 2px;
    font-weight: bold;
}

.section-1__rating-quantity {
    color: var(--bright-green);
    font-weight: bold;
}

.section-1__creator {
    margin-top: 2rem;
    display: flex;
}

.section-1__creator-title {
    color: var(--white-color);
}

.section-1__creator-name:hover {
    text-decoration: underline;
}

.section-1__creator-name {
    color: var(--bright-green);
    font-weight: bold;
    padding-left: 5px;
}

.section-1__updated {
    margin-left: -8px;
    margin-top: 2rem;
}

.section-1__updated-item .fa-calendar-days {
    font-size: 1.6rem;
}

.section-1__updated-item {
    color: var(--white-color);
    padding: 0 8px;
    margin-top: 22px;
}

/*Section 2*/
.section-2__list-container {
    display: flex;
}

.section-2__skills {
    border: solid 1px var(--light-grey);
    padding: 2.4rem;
    margin-top: 30px;
    border-radius: 3px;
    background: var(--white-color);
}

.section-2__list ul {
    padding-left: 0;
    /*Không hiểu tại sao lại có*/
}

.section-2__list li {
    padding: 0.8rem 1.2rem; /* gọn hơn nhiều */
    list-style-type: none;
}

.li-skill__container {
    font-size: var(--text-3xl);
}

.li-skill__container {
    display: flex;
    /*align-items: center;*/
    /*justify-content: center;*/
    gap: 1rem;
}

/*Section3*/
.section-3__content {
    height: 100%;
}

.section-3__title {
    font-size: 2.4rem;
    margin-bottom: 24px;
}

.section-3__list-skill ul li {
    color: var(--dark-blue);
    font-size: 1.4rem;
    font-weight: bold;
    padding: 5px;
    margin: 0 5px;
    border: 1px solid var(--light-grey);
    border-radius: 1px;
    float: left;
    list-style-type: none;
    background: var(--white-color);
}

.section-3__list-skill ul {
    padding: 0;
    overflow: auto;
}

.section-3__list-skill ul::after {
    content: "";
    display: block;
    clear: both;
}

/*Section 4 in Container 1*/
/*ul li lần một*/
.section-4__sub-duration li.first {
    list-style-type: none;
}

.section-4__sub-duration {
    margin-bottom: 20px;
}

.section-4__sub-duration ul {
    padding-left: 0;
}

.section-4__sub-duration ul li {
    float: left;
    /*padding: 0 16px;*/
    padding-right: 25px;
}

.section-4__sub-duration::after {
    content: "";
    display: block;
    clear: both;
}

/*ul li lần 2*/
.section-4__list-video ul {
    padding-left: 0;
}

.section-4__list-video ul li {
    list-style-type: none;
    margin: 0.5rem 0;
}

.section-4__list-video ul li:hover {
    background: var(--dark-blue);
}

.section-4__lesson-information {
    display: flex;
    align-items: center;
    justify-items: center;
    border: solid 1px var(--dark-blue);
    border-radius: 1px;
    background: var(--white-color);
    padding: 16px;
    cursor: pointer;
}

.section-4__lesson-information:hover {
    background: var(--dark-blue);
    color: var(--white-color);
}

.section-4__lesson-time {
    text-align: right;
    width: 25%;
    font-weight: 300;
}

.section-4__lesson-title {
    width: 78%;
    font-weight: 500;
}

.section-4__lesson-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
}

.section-4__lesson-icon .fa-circle-play {
    font-size: medium;
    color: #1C2329;
}

/*Section 5*/
.section-5__requirement ul {
    padding-left: 20px;
}

.section-5__list-item {
    font-weight: 300;
    padding: 5px 0;
}

/*Section6*/
.section-6__description li {
    padding: 5px 0;
}

.section-6__content-bold {
    font-weight: 500;
}

.section-6__content {
    line-height: 2.3rem;
}

/*Section 7 cho phần reviews*/
.review-box__header span {
    font-size: var(--text-3xl);
    font-weight: var(--fw-bold);
}

.user__avatar1 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
}

.review-box__comment {
    display: flex;
    margin-top: 25px;
    border-top: 1px solid var(--light-grey);
    padding-top: 3rem;
}

.comment__user {
    margin-right: 3rem;
    display: flex;
    align-items: flex-start;
}

.box span {
    font-size: var(--text-lg);

}

.box {
    margin-bottom: 0.5rem;
}

.review-in4 {
    display: flex;
    align-items: center;
}

.box .review__name {
    font-weight: var(--fw-semibold);
}

.box .review__time {
    font-size: var(--text-sm);
    font-weight: var(--fw-light);
    text-align: center;
    margin-left: 1rem;
}

.box__date {
    display: flex;
    align-content: center;
}

.star {
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
    padding-top: 0.1rem;
}

.star-icon {
    display: flex;
    margin-left: 5px;
}

/*Container 2*/
.container-2 {
    margin: 20px 0;
    /*Cho phép các thành phần bám dính trên giao diện */
    /*Nếu thằng cha bị kéo hết thì thănng con cũng sẽ bị kéo theo*/
    position: sticky;
    /* Khoảng cách từ đỉnh trình duyệt đến cái CONTAINER này*/
    /*Khi kéo trình duyệt mà đỉnh của trình duyệt cách với CONTAINER 10px
    thì sẽ giữ khoảng cách cố định đó mà không luwost qua nó*/
    top: 10px;
    align-self: flex-start; /* Giữ nó ở đầu cột khi cuộn */
}

.grid__column-4-in-12 {
    margin-left: -8px;
    /*display: flex;*/
    /*flex-direction: column;*/
}

.grid__column-8 {
    padding-left: 30px;
}

.container-2__img {
    height: 225px;
    margin: -1.6rem -2rem;
}

img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.container-2__information {
    padding: 1.6rem 2.0rem;
    background: var(--white-color);
    border-radius: 7px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);

}

.container-2__price {
    display: flex;
    /*Sẽ cho nội dung xuống dưới nếu như không còn chỗ*/
    flex-wrap: wrap;
    align-items: center;
    padding-bottom: 1.5rem;
    padding-top: 1rem;
    gap: 2rem;
    justify-content: space-between;
}

.container-2__original-price {
    text-decoration: line-through;
    color: red;
    font-weight: bold;
    font-size: var(--text-base);
}

.container-2__discount {
    color: var(--dark-blue);
    font-size: var(--text-2xl);

}

.container-2__sold-price {
    font-size: 2.4rem;
    color: var(--blue);
    font-weight: bold;
}

.container-2__option-group {
    width: 100%;
}

.container-2__option {
    justify-content: space-between;
    display: flex;
    width: 100%;
    /*gap: 2rem;*/
}

.add-cart-a {
    width: 85%;
}

.add__button {
    width: 100%;
    height: 100%;
}

.container-2__icon {
    color: var(--white-color);
    font-size: var(--text-2xl);
}

.bookmark__button {
    width: 100%;
    height: 100%;
}

.bookmark__button button {
    padding: 1.2rem;
}

.bookmark__a {
    width: 30%;
    height: 100%;
}

.container-2__button-add {
    flex: 1;
    margin-right: 10px;
    padding: 1.4rem;
    color: #002333;
    border-radius: 5px;
    background: #01FF85;
    font-weight: bold;
    font-size: 1.6rem;
    /*width: 100%;*/
    border: solid 1px var(--bright-green);
    cursor: pointer;
}

.container-2__button-buy {
    padding: 14px;
    margin-top: 10px;
    color: var(--white-color);
    border-radius: 5px;
    background: #002333;
    font-weight: bold;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
    /*object-fit:cover;*/
}

.container-2__note {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
    padding: 28px 0;
    font-size: var(--text-2xl);
}

.container-2__summary-information ul li {
    padding: 1.3rem 0;
    font-weight: var(--fw-semibold);
}

.container-2__summary-information ul {
    padding-left: 20px;
}

.container-2__subtitle {
    color: var(--dark-blue);
    font-weight: bold;
    padding-bottom: 1rem;
}

.style__text-var {
    color: var(--dark-blue);
    font-weight: 300;
}

.container-2__img img {
    object-fit: cover;
    width: 100%;
    height: 85%;
}
