<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/views/pages/error-page/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/views/pages/error-page/403.jsp</location>
    </error-page>

    <error-page>
        <exception-type>org.jdbi.v3.core.statement.UnableToExecuteStatementException</exception-type>
        <location>/views/pages/error-page/db-error.jsp</location>
    </error-page>

    <error-page>
        <!--        exception-type có độ ưu tiên cao hơn-->
        <!--        nếu có các lỗi 500 xảy ra hoặc là Exception thì sẽ vô trang này-->
        <exception-type>java.lang.Throwable</exception-type>
        <location>/views/pages/error-page/system-error.jsp</location>
    </error-page>

    <!--    Khi bị NullPointerException thì Tomcat chọn /error-page/system-error.jsp để hiển thị.-->
    <!--    Nó không quan tâm đến trang 500.jsp nữa vì quy tắc exception-type có độ ưu tiên cao hơn error-code.-->
    <!--    Gần như chỉ được kích hoạt khi bên servlet sendError(500)-->
    <error-page>
        <error-code>500</error-code>
        <location>/views/pages/error-page/500.jsp</location>
    </error-page>

    <!-- Khi request đi qua, JavaMelody sẽ lẳng lặng bật đồng hồ bấm giờ,
    ghi nhận xem request này tốn bao nhiêu RAM, chạy hết mấy câu lệnh SQL, -->
    <filter>
        <filter-name>javamelody</filter-name>
        <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
        <init-param>
            <param-name>authorized-users</param-name>
            <param-value>admin:123456,quantri:MatKhauSieuKho123</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>javamelody</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Mỗi khi có một người dùng mới truy cập web (tạo ra một Session),
    Listener này sẽ đếm +1. Khi họ tắt trình duyệt hoặc hết hạn đăng nhập, nó trừ đi -1.
    Nhờ đó Dashboard mới hiển thị được biểu đồ Http sessions (số người đang online).-->
    <listener>
        <listener-class>net.bull.javamelody.SessionListener</listener-class>
    </listener>

    <listener>
        <listener-class>
            vn.edu.nlu.fit.elearning.common.listener.AppStartupListener
        </listener-class>
    </listener>

</web-app>
