<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <error-page>
        <error-code>404</error-code>
        <location>/error-page/404.jsp</location>
    </error-page>

    <error-page>
        <error-code>403</error-code>
        <location>/error-page/403.jsp</location>
    </error-page>

    <error-page>
        <exception-type>org.jdbi.v3.core.statement.UnableToExecuteStatementException</exception-type>
        <location>/error-page/db-error.jsp</location>
    </error-page>

    <error-page>
        <!--        exception-type có độ ưu tiên cao hơn-->
        <!--        nếu có các lỗi 500 xảy ra hoặc là Exception thì sẽ vô trang này-->
        <exception-type>java.lang.Throwable</exception-type>
        <location>/error-page/system-error.jsp</location>
    </error-page>

    <!--    Khi bị NullPointerException thì Tomcat chọn /error-page/system-error.jsp để hiển thị.-->
    <!--    Nó không quan tâm đến trang 500.jsp nữa vì quy tắc exception-type có độ ưu tiên cao hơn error-code.-->
    <!--    Gần như chỉ được kích hoạt khi bên servlet sendError(500)-->
    <error-page>
        <error-code>500</error-code>
        <location>/error-page/500.jsp</location>
    </error-page>

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

</web-app>
