/*
Mục 1: color
Mục 2: grid system
Mục 3: font:size-weight
Mục 4: button
Mục 5: input
Mục 6: header-footer

*/
:root {
    /*Main color*/
    --dark-blue: #002333;
    --dark2-blue: #002333;
    --bright-green: #01FF85;
    --blue: #3722D3;
    --bright-blue: #264457;
    --light-grey: #a4a4a4;

    /*Màu chữ*/
    --text-color: #002333;
    --text2-color: #FFFFFF;
    --text-body-color: #002333;

    --discount-price-color: red;

    /*Loại màu trắng*/
    --white-color: #FFFFFF;
    /*--white2-color: #FFFFFF;*/

    --hover-color: lightgrey;
    --hover2-color: lightgrey;

    --yellow-color: #FFD43B;

    --background-color: #F1F5F9;
    --sub-background-color: #FFFFFF;
    --background-header-footer-color: #002333;

    --switch-off-bg: #ccc;
    --switch-on-bg: #4cd964;
    --switch-circle: #ffffff;

    /*Màu cho Công khai*/
    /*Nền*/
    --light-green: #e8f5e9;
    /*Text*/
    --green: #2e7d32;

    /*Màu cho Riêng tư*/
    /*Nền*/
    --privacy-light-grey: #ECEFF1;
    /*Text*/
    --privacy-dark-charcoal: #263238;

    /* --- Pending (Màu vàng cam/Amber) --- */
    --pending-bg: #fff7ed; /* Cam rất nhạt */
    --pending-text: #c2410c; /* Cam đậm */

    /* --- Failed (Màu đỏ/Red) --- */
    --failed-bg: #fef2f2; /* Đỏ rất nhạt */
    --failed-text: #b91c1c; /* Đỏ đậm */

    /*Màu cho cấp độ*/
    --blue-level: #0066cc;

    /*Font Size*/
    --text-xs: 1.0rem;
    --text-sm: 1.2rem;
    --text-base: 1.4rem;
    --text-lg: 1.6rem;
    --text-xl: 1.8rem;
    --text-2xl: 2.0rem;
    --text-3xl: 2.4rem;
    --text-4xl: 3.0rem;
    --text-5xl: 3.6rem;

    /*Font Weight*/
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;
}

html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
}

body {
    background: var(--background-color);
}

body.dark-mode {
    /* Nền */
    --background-color: #1A1C1E;
    --sub-background-color: #333537;
    --background-header-footer-color: #3C3E40;

    /*Màu chữ*/
    --text-color: #C4CBD2;
    --text2-color: #002333;
    --text-body-color: #C4CBD2;

    --discount-price-color: #FF4757;

    /* Màu cơ bản */
    --dark-blue: #002333;
    --dark2-blue: #01FF85;
    --bright-green: #00E676;
    --blue: #7C4DFA;
    --bright-blue: #4A90E2;
    --light-grey: #CCCCCC;
    --white-color: #FFFFFF;
    /*--white2-color: #333537;*/
    --hover-color: #334155;
    --hover2-color: lightgrey;
    --yellow-color: #FFEB3B;

    /* Switch */
    --switch-off-bg: #555;
    --switch-on-bg: #34C759;
    --switch-circle: #E0E0E0;

    /* Công khai */
    --light-green: #1B5E20;
    --green: #81C784;

    /* Riêng tư */
    --privacy-light-grey: #212121;
    --privacy-dark-charcoal: #B0BEC5;

    /* Pending */
    --pending-bg: #3E2723;
    --pending-text: #FFAB91;

    /* Failed */
    --failed-bg: #311B1B;
    --failed-text: #EF9A9A;

    /* Cấp độ */
    --blue-level: #2196F3;

}

body.dark-mode .container__category-title:hover {
    color: var(--bright-green);
}

body.dark-mode .container__category-list-item.text-li:hover {
    color: var(--bright-green);
}

/*Grid System*/
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid-2 {
    width: 800px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

/*loại này là để cho khoảng cách giữa các cột là 10px*/
.grid__row-1 {
    display: flex;
    flex-wrap: wrap;
    /* thông thường khoảng cách giữa 2 cột trên pc là 24px nên mỗi đối tượng cách 12px + lại là vừa */
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

/* 12/5=2.4 */
.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%; /* 100% / 5 = 20% */
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

/*loại này là để cho khoảng cách giữa các cột là 16px*/
.grid__row-2 {
    display: flex;
    flex-wrap: wrap;
}

/* 12/3 = 4*/
.grid__column-2 {
    padding-right: 8px;
    padding-left: 8px;
    width: 16.667%;
}

.grid__column-10 {
    padding-right: 8px;
    padding-left: 8px;
    width: 83.333%;
}

.grid__column-3 {
    padding-right: 8px;
    padding-left: 8px;
    width: 25%; /* 1 đối tượng trong 1200px 100% chia 4*/
}

.grid__colum-9 {
    padding-right: 8px;
    padding-left: 8px;
    width: 75%;
}

.grid__column-4 {
    padding-right: 8px;
    padding-left: 8px;
    width: 33.333%; /* 1 đối tượng trong chiều dài của colum 9 100% chia 3 */
}

.grid__column-5 {
    width: 41.667%;
    padding-right: 8px;
    padding-left: 8px;
}

.grid__column-7 {
    width: 58.333%;
    padding-right: 8px;
    padding-left: 8px;
}

.grid__column-8 {
    width: 66.667%;
    padding-right: 8px;
    padding-left: 8px;
}

.grid__column-4-in-12 {
    width: 33.333%;
    padding-right: 8px;
    padding-left: 8px
}

/*Cac bieens thể của Roboto dựa trên Font weight*/
@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/static/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/static/Roboto-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/static/Roboto-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/static/Roboto-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

.text-header {
    font-size: var(--text-lg);
    font-weight: var(--fw-semibold);
}

.text-big-title {
    font-size: var(--text-5xl);
    font-weight: var(--fw-bold);
}

.text-small-title {
    font-size: var(--text-4xl);
    font-weight: var(--fw-semibold);
}

.text-li {
    font-size: var(--text-lg);
}

.text-big {
    font-size: var(--text-lg);
}

.text-medium {
    font-size: var(--text-base);
}

.text-mini {
    font-size: var(--text-sm);
}

.text-paragraph p {
    font-size: var(--text-xl);
    font-weight: var(--fw-bold);
    line-height: 2rem;

    /* overflow nghĩa là khi thg con chòi ra khỏi thì sẽ xử lý như nào hidden là ẩn đi */
    /* cách 1 */
    /* lưu ý: chỉ có những web đc hỗ trợ mới làm đc cách này */
    overflow: hidden;
    /* display: block để khi nào ko đc hỗ trợ thì hiện như bthuong */
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    white-space: normal;
    word-break: break-word;
    overflow-wrap: break-word;
}

/*chuyen giua cac trang*/
.turn-page {
    text-decoration: none;
    color: inherit;
    display: block;
}
/*===================================================*/
/*Các loại button*/
/*===================================================*/
.dark-button {
    border: none;
    color: var(--white-color);
    /*width: 100%;*/
    height: 100%;
    background: var(--dark-blue);
    font-size: var(--text-lg);
    font-weight: var(--fw-semibold);
    border-radius: 5px;
    cursor: pointer;
}

body.dark-mode .dark-button {
    /* Các thông số từ ảnh của bạn */
    border: solid 1px rgba(255, 255, 255, 0.25);
    /*width: 100%;*/
    /*height: 100%;*/
    /*font-size: var(--text-lg);*/
    /*font-weight: var(--fw-semibold);*/
    border-radius: 5px;
    cursor: pointer;

    background-color: #555555; /* Màu nền xám của nút trong ảnh */
    color: #ffffff; /* Màu chữ trắng */
}

.dark-button:hover {
    /*background: #01364E;*/
    box-shadow: 0 0 5px 1px rgba(15, 122, 176, 1);
    /*border: 1px solid var(--dark-blue);*/
}

/*Thuộc thẻ div để bọc btn*/
.header__button {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 0px;
}

/*Thuộc thẻ button nằm trong div có chứa thuộc tiính header-btn*/
.button__btn {
    border: none;
    color: var(--dark-blue);
    width: 100%;
    height: 100%;
    background-color: var(--bright-green);
    font-size: var(--text-lg);
    font-weight: var(--fw-semibold);
    border-radius: 5px;
    cursor: pointer;
}

.button__btn:hover {
    background: #0CDA77;
}

/*================================== NÚT XÓA ==========================*/
.btn-delete-modern {
    background-color: #fff;
    color: #ef4444;
    border: 1.5px solid #ef4444;
    padding: 10px 25px;
    border-radius: 10px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    white-space: nowrap;
    margin-right: 5px;
    font-size: var(--text-base);
}

.btn-delete-modern:hover {
    background-color: #ef4444;
    color: #fff;
    box-shadow: 0 4px 12px rgba(239, 68, 68, 0.2);
}


/*Input style*/
.input-style {
    padding: 8px 10px;
    font-size: 1.6rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--light-grey);
    border-radius: 0.3rem;
}

/*Header*/
.web__header {
    background-color: var(--background-header-footer-color);
}

.header__box {
    display: flex;
    padding: 12px 0;
    align-items: center;
}

.header__logo {
    font-weight: 800;
    font-size: 3rem;
    color: #fff;
    line-height: 1;
    letter-spacing: 1px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* tạo 2 dòng chữ */
.header__logo::before {
    content: "SOFT";
    display: block;
}

.header__browse {
    display: flex;
    align-items: center;
    margin-left: 35px;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}

.header__browse::after {
    content: "";
    position: absolute;
    top: 100%; /* ngay dưới Browse */
    left: 50%;
    transform: translateX(-50%);
    width: 60px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}

.header__browse:hover {
    color: var(--bright-green)
}

.browse__text {
    font-weight: 600;
    margin-right: 5px;
}

.browse__icon {
    font-weight: 300;
}

.header__browse:hover .browse__display {
    display: block;
}

.browse__display {
    display: none;
}

.browse__container {
    display: flex;
    background-color: var(--sub-background-color);
    border-radius: 7px;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 28px;
    z-index: 110;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
}

.browse__container-box-1::after {
    content: "";
    position: absolute;
    top: 20px;
    bottom: 20px;
    right: -100px;
    width: 1px;
    background: #e0e0e0;
    pointer-events: none;
    z-index: 3;
}

.title {
    color: var(--text-body-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.text-list-item {
    color: var(--text-body-color);
    text-decoration: none;
    font-weight: 600;
}

.browse__box-category-list-item {
    width: 140%;
    padding: 10px 10px;

}

.browse__box-category-list-item:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
}

body.dark-mode .browse__box-category-list-item:hover {
    background-color: var(--hover-color);
    border-radius: 5px;
    color: var(--bright-green);
}

.browse__container-box-1 {
    margin: 15px 100px 35px 30px;
    position: relative;
}

.browse__container-box-2 {
    margin: 15px 0 35px 30px;
}

.browse__box-category {
    width: 200px;
}

.box__title {
    margin: 15px 0;
    width: 190px;
}

.box-2 {
}

.item-box {
    width: 80%;
    border: solid 1px var(--text-body-color);
    border-radius: 5px;
    margin: 5px 0 15px 0;
    height: 30px;
    display: flex;
    align-items: center;
}

.text-list-item-2 {
    padding: 10px;
}

.item-box:hover {
    background-color: var(--hover-color);
}

body.dark-mode .text-list-item:hover {
    color: var(--bright-green);
}

.header__community {
    font-weight: 600;
    color: var(--white-color);
    cursor: pointer;
    margin: 0 35px;
}

.header__community:hover {
    color: var(--bright-green)
}

.header__search {
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: solid 1px var(--white-color);
    color: var(--white-color);
    width: 34%;
    margin-right: 5px;
}

.search__icon {
    font-size: 2.4rem;

    padding-left: 10px;
}

.search__input {
    flex: 1;
    display: flex;
    position: relative;
}

.input__text {
    flex: 1;
    background-color: var(--background-header-footer-color);
    color: var(--white-color);
    border: none;
    outline: none;
    box-shadow: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 7px;
}

.input__text::placeholder {
    color: var(--white-color);
    text-decoration: none;
}

.input__text:focus {
    border: none;
    outline: none;
    box-shadow: none;
}

.input__text:focus::placeholder {
    color: transparent;
}

/* box hiển thị gợi ý */
.search__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--sub-background-color);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 7px;
    margin-top: 5px;
    max-height: 320px;
    display: none;
    z-index: 999;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
}

/* item gợi ý */
.suggestion__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 10px;
    cursor: pointer;
}

/* hover */
.suggestion__item:hover {
    background: rgba(255, 255, 255, 0.08);
}

/* ảnh khóa học */
.suggestion__img {
    width: 40px;
    height: 28px;
    object-fit: cover;
    border-radius: 4px;
}

/* title */
.suggestion__title {
    flex: 1;
    font-size: 1.4rem;
    color: var(--text-body-color);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* giá */
.suggestion__price {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--yellow-color);
}

.header__class {
    color: var(--white-color);
    margin-left: auto;
}

.header__class:hover {
    color: var(--bright-green);
    cursor: pointer;
}

.header__wishlist {
    margin-left: 25px;
    color: var(--white-color);
}

.header__wishlist:hover {
    color: var(--bright-green);
}

.header__cart {
    display: flex;
    align-items: center;
    color: var(--white-color);
    cursor: pointer;
    margin-left: 25px;
    position: relative;
}

.header__cart:hover {
    color: var(--bright-green);
}

.header__cart:hover .cart__display {
    display: block;
}

.cart__display {
    display: none;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 26px);
    right: 1px;
    background-color: var(--white-color);
    width: 300px;
    border-radius: 2px;
    box-shadow: 0 2px 3.125rem rgba(0, 0, 0, 0.2);
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.header__cart::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 35px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list-no-cart-img {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__notification {
    color: var(--white-color);
    display: flex;
    align-items: center;
    margin-left: 25px;
}

.header__notification:hover {
    color: var(--bright-green);
}

.notification__icon {
    cursor: pointer;
}

.header__notification {
    position: relative;
    display: inline-block;
    outline: none;
    cursor: pointer;
}

/* Cho phép nhận focus */
.header__notification:focus {
    outline: none;
}

/* Popup mặc định ẩn */
.notification__popup {
    position: absolute;
    top: 44px;
    right: 0;
    width: 300px;
    max-height: 400px;
    background: var(--white-color);
    padding: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(50px);
    transition: all 0.3s ease;
    z-index: 100;
}

/* Hiện popup khi phần tử cha có focus */
.header__notification:focus-within .notification__popup {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

/* Ngăn đổi màu chữ khi hover chuông */
.notification__popup div,
.notification__popup li {
    color: #333;
}

.notification__popup li:hover {
    background-color: #f5f5f5;
    color: #000;
}


.header__user {
    display: flex;
    align-items: center;
    margin-left: 25px;
    cursor: pointer;
    position: relative;
}

.header__user::after {
    content: "";
    position: absolute;
    top: 100%; /* ngay dưới Browse */
    left: 50%;
    transform: translateX(-50%);
    width: 30px; /* độ dài phần cong */
    height: 35px; /* độ cao phần nối */
    background: transparent;
    border-radius: 0 0 8px 8px;
    z-index: 1;
}

.user__avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    border: 1px solid var(--bright-green);
}

img {
    object-fit: cover;
}

.header__user:hover .user__display {
    display: block;
}

.user__display {
    display: none;
}

.user__container {
    background-color: var(--white-color);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    margin-top: 20px;
    right: 0;
    cursor: default;
    z-index: 10;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.user__profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px var(--hover-color);
}

.user__profile-avatar {
    margin-top: 20px;
}

.user__avatar-mini {
    object-fit: contain;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: solid 1px var(--bright-green);
    cursor: pointer;
}

.user__profile-name {
    margin: 10px 0 0 0;
}

.name-text {
    font-weight: 700;
    text-decoration: none;
    color: var(--dark-blue);
    cursor: pointer;
}

.bio-text {
    font-size: 1rem;
    text-decoration: none;
    color: #696969;
    cursor: pointer;
}

.user__profile-btn {
    width: 120px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 15px 30px;
}

.user__menu {

}

.user__menu-list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
}

.user__menu-list-item {
    width: 100%;
}

.user__menu-list-item-box {
    width: 100%;
    /*font-size: 1.4rem;*/
    /*font-weight: 700;*/
    color: var(--dark-blue);
    cursor: pointer;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-radius: 3px;
}

.user__menu-list-item-box:hover {
    background-color: var(--hover-color);
}

.sign-out {
    border-top: solid 1px var(--hover-color);
    color: red;
}


/* Footer */
.web__footer {
    padding-top: 16px;
    background-color: var(--background-header-footer-color);
}

.footer__heading {
    /*font-size: 1.6rem;*/
    text-transform: uppercase;
    color: var(--white-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    color: var(--white-color);
    padding: 2px 0;
    display: flex;
    align-items: center;
}

.footer-item__link:hover {
    color: var(--bright-green);
}

.footer__download {
    display: flex;
}

.footer__download-apps {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-app-img {

}

/* cái này tránh các trình duyệt cũ sẽ hiện ra nên sửa luôn  */
.footer__download-app-link {
    text-decoration: none;
    color: transparent;
}

.footer__bottom {
    background-color: var(--background-header-footer-color);
    padding: 8px 0;
    margin-top: 36px;
}

.footer__bottom .grid:first-child {
    border-top: 2px solid var(--bright-green);
}

.footer__text {
    text-align: center;
    color: var(--white-color);
    margin-left: 20px;
    cursor: pointer;
}

.footer__text:hover {
    color: var(--bright-green);
}

.ul__text {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
    color: var(--white-color);
    margin-left: 20px;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 30px;
    margin-top: 30px;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__icon {
    font-size: var(--text-lg);
    color: var(--dark-blue);
}

.pagination-item--active .pagination-item__link {
    background-color: var(--dark-blue);
    color: var(--white-color);
}

.pagination-item__link:hover {
    background-color: var(--dark-blue);
    color: var(--white-color);
}

.pagination-item__link:hover i {
    color: var(--white-color);
}

.pagination-item__link {
    color: #666 !important;
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: var(--text-lg);
    font-weight: 300;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

/* Laptop nhỏ (≤ 1366px) */
@media (max-width: 1366px) {
    .text-big-title {
        font-size: var(--text-4xl);
    }

    .header__search {
        width: 50%;
    }
}

/* PC/Laptop vừa (768px → 1199px) */
@media (max-width: 1200px) and (min-width: 768px) {
    .grid {
        width: 95%;
    }

    .header__box {
        flex-wrap: wrap;
    }

    .header__search {
        width: 60%;
        margin: 10px 0;
    }
}

/* Mobile nhỏ (< 768px) */
@media (max-width: 767px) {
    .grid {
        width: 100%;
        padding: 0 10px;
    }

    .header__logo {
        font-size: 2rem;
    }

    .header__box {
        flex-direction: column;
        align-items: flex-start;
    }
}

/*.web__container{*/
/*    background-color: var(--background-color);*/
/*}*/

/* Container của nút wishlist */
.wishlist-btn {
    background: white;
    border: 1px solid #ddd;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.wishlist-btn:hover {
    transform: scale(1.1); /* Phóng to nhẹ khi di chuột */
    border-color: #ff4757;
    background-color: #fffafb;
}

/* Định dạng icon trái tim mặc định */
.wishlist-btn i {
    color: #ccc; /* Màu xám khi chưa thích */
    font-size: 1.2rem;
    transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* Khi nút ở trạng thái Active (Đã thích) */
.wishlist-btn.active {
    border-color: #ff4757;
}

.wishlist-btn.active i {
    color: #ff4757 !important; /* Màu đỏ trái tim */
    transform: scale(1.2); /* Trái tim to hơn một chút */
}

/* Hiệu ứng nảy (Animation) khi click */
@keyframes heartBeat {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1.2);
    }
}

.animate-heart {
    animation: heartBeat 0.4s linear;
}

/* Này là những cái chung của auth*/
.header__button-box {
    display: flex;
    margin-left: auto;
}

.sign-in-box {
    margin-right: 10px;
    border: solid 2px var(--white-color);
    border-radius: 5px;
}

.sign-in {
    background-color: var(--dark-blue) !important;
    color: var(--white-color) !important;
}

.header__search-2 {
    margin-left: 30px;
}

.add-to-fix-box-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-blue);
    margin: 60px 0;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 500px;
    color: var(--white-color);
}

.add-to-fix-box-1-2 {
    display: flex;
    flex-direction: column;
    background-color: var(--dark-blue);
    color: var(--white-color);
    padding: 60px 30px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 100%;
}
.box-2-2-1 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 60px 50px 80px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--white-color);
}
.box-2-2-2 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 60px 0;
    padding: 60px 50px 80px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--white-color);
}
.form {
    cursor: default;
}
.box-2 {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: var(--white-color);
}
.input-text {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    box-shadow: none;
}
/* ========================== CÁCH CHIA CỘT THEO HÀNG*/
.form-row {
    display: flex;
    gap: 25px;
}

.form-column-8 {
    flex: 2;
}

.form-column-4 {
    flex: 1;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}
/* ================ CLASS CỦA MARGIN TOP ====================== */
.mt-1 {
    margin-top: 0.5rem !important;
}

.mt-2 {
    margin-top: 1rem !important;
}

.mt-3 {
    margin-top: 1.5rem !important;
}

.mt-4 {
    margin-top: 2rem !important;
}

.mt-5 {
    margin-top: 4rem;
}
/* ================ CLASS CỦA MARGIN BOTTOM ====================== */
.mb-1 {
    margin-bottom: 0.5rem !important;
}

.mb-2 {
    margin-bottom: 1rem !important;
}

.mb-3 {
    margin-bottom: 1.5rem !important;
}

.mb-4 {
    margin-bottom: 2rem !important;
}

.mb-5 {
    margin-bottom: 4rem;
}

/* ========================================= */
/* RESPONSIVE CHO HỆ THỐNG LƯỚI (GRID SYSTEM)*/
/* ========================================= */

/* Tablet (Màn hình vừa: dưới 1024px) */
@media (max-width: 1024px) {
    .grid__column-3,
    .grid__colum-9 {
        width: 100%;
        padding: 0;
    }
    .grid__column-4,
    .grid__column-4-in-12 {
        width: 50%;
    }
}

/* Mobile (Điện thoại nhỏ: dưới 768px) */
@media (max-width: 767px) {
    .grid__column-4,
    .grid__column-4-in-12 {
        width: 100%;
        padding: 0;
    }
}